.valid-icon {
    color: #26a69a;
    font-size: 0.8rem;
}

.invalid-icon {
    color: #e53935;
    font-size: 0.8rem;
}

.hide {
    display: none;
}

.valid {
    display: inline;
}

.text-teal {
    color: #00796b;
}

.form-control:focus {
    border: none;
    outline: 2px solid #26a69a;
    box-shadow: none;
    background-color: #e8f5e9;
}